<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/configHeader :: header"/>

<body>
    <nav style="left: 0; right: 0; top: 0;"
         th:fragment="head" class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/main}">My Commerce</a>

        <div th:if="${session.login} eq true">
            <a th:href="@{/logout}">
                로그아웃
            </a>
            <a th:href="@{/carts}">
                장바구니
            </a>
        </div>
        <div th:if="${session.login} eq null">
            <a href="/auth/signIn">
                로그인
            </a>
            <a href="/auth/signUp">
                회원가입
            </a>
        </div>
    </nav>

</body>
</html>
