<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/configHeader"></div>
<body>

    <div id="categoryMenu">
        <i class="fas fa-bars" style="font-size: 30px; color: black;"></i>
    </div>

    <div>
        <div class="categories">
            <!--  LEVEL 1  -->
            <div class="level1">
                <div th:each="category, idx : ${rootCategory.subCategories}" th:class="'level1_' + ${idx.index}">
                    <i class="fal fa-tshirt"></i>
                    <span th:text="${category.categoryName}"></span>
                </div>
            </div>

            <!--  LEVEL 2  -->
            <div class="level2">
                <!-- 패션  -->
                <div th:each="category, idx : ${rootCategory.subCategories.get(0).subCategories}" th:class="'category level2_0 level2_0_' + ${idx.index}">
                    <span th:text="${category.categoryName}"></span>
                </div>
                <!-- 가전/디지털  -->
                <div th:each="category, idx: ${rootCategory.subCategories.get(1).subCategories}" th:class="'category level2_1 level2_1_' + ${idx.index}">
                    <span th:text="${category.categoryName}"></span>
                </div>
                <!-- 도서  -->
                <div th:each="category, idx: ${rootCategory.subCategories.get(2).subCategories}" th:class="'category level2_2 level2_2_' + ${idx.index}">
                    <span th:text="${category.categoryName}"></span>
                </div>
                <!-- 식품  -->
                <div th:each="category, idx: ${rootCategory.subCategories.get(3).subCategories}" th:class="'category level2_3 level2_3_' + ${idx.index}">
                    <span th:text="${category.categoryName}"></span>
                </div>
            </div>

            <!--  LEVEL 3  -->
            <div class="level3">
                <!--  패션 차하위  -->
                <div class="">
                    <div th:each="category, idx: ${rootCategory.subCategories.get(0).subCategories.get(0).subCategories}" th:class="'category level3_fashion_femalie_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(0).subCategories.get(1).subCategories}" th:class="'category level3_fashion_male_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(0).subCategories.get(2).subCategories}" th:class="'category level3_kids_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(0).subCategories.get(3).subCategories}" th:class="'category level3_sports_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(0).subCategories.get(4).subCategories}" th:class="'category level3_etc_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                </div>

                <!-- 가전 차하위 -->
                <div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(1).subCategories.get(0).subCategories}" th:class="'category level3_home_computer_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(1).subCategories.get(1).subCategories}" th:class="'category level3_home_refri_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(1).subCategories.get(2).subCategories}" th:class="'category level3_home_cleaner_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(1).subCategories.get(3).subCategories}" th:class="'category level3_washing_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                </div>

                <!-- 책 차하위 -->
                <div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(2).subCategories.get(0).subCategories}" th:class="'category level3_book_travel_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(2).subCategories.get(1).subCategories}" th:class="'category level3_book_history_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(2).subCategories.get(2).subCategories}" th:class="'category level3_book_art_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(2).subCategories.get(3).subCategories}" th:class="'category level3_book_science_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                </div>

                <!-- 음식 차하위 -->
                <div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(3).subCategories.get(0).subCategories}" th:class="'category level3_food_fruit_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(3).subCategories.get(1).subCategories}" th:class="'category level3_food_vegetable_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(3).subCategories.get(2).subCategories}" th:class="'category level3_food_drink_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(3).subCategories.get(3).subCategories}" th:class="'category level3_food_marine_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(3).subCategories.get(4).subCategories}" th:class="'category level3_livestock_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<style>
    #categoryMenu {
        display: inline-block;
    }

    .categories {
        display: flex;
    }

    .categories, .level2, .level3 {
        display: none;
    }

    .level2_0, .level2_1, .level2_2, .level2_3 {
        display: none;
    }
</style>

<script>
    $(function() {
      $("#categoryMenu").mouseover(function() {
        $(".categories").css("display", "flex");
        $(".categories").css("flex-direction", "row");
        $(".level1").css("display", "inline-block");
      });

      // 카테고리 안보이게
      $(".categories, .level1Categories").mouseleave(function() {
        $(".categories").css("display", "none");
      });

      // level 1
      $(".level1_0").mouseover(function() {
        $(".level2, .level2_0").css("display", "flex");
        $(".level2, .level2_0").css("flex-direction", "column");
      });
      $(".level1_0").mouseleave(function() {
        $(".level2_0").css("display", "none");
      });

      $(".level1_1").mouseover(function() {
        $(".level2, .level2_1").css("display", "flex");
        $(".level2, .level2_1").css("flex-direction", "column");
      });
      $(".level1_1").mouseleave(function() {
        $(".level2_1").css("display", "none");
      });

      $(".level1_2").mouseover(function() {
        $(".level2, .level2_2").css("display", "flex");
        $(".level2, .level2_2").css("flex-direction", "column");
      });
      $(".level1_2").mouseleave(function() {
        $(".level2_2").css("display", "none");
      });

      $(".level1_3").mouseover(function() {
        $(".level2, .level2_3").css("display", "flex");
        $(".level2, .level2_3").css("flex-direction", "column");
      });
      $(".level1_3").mouseleave(function() {
        $(".level2_3").css("display", "none");
      });

      // level 2
      $(".level2_0").mouseover(function() {
        $(".level2, .level2_0").css("display", "flex");
        $(".level2, .level2_0").css("flex-direction", "column");
      });
      $(".level1_0").mouseleave(function() {
        $(".level2_0").css("display", "none");
      });


    });
</script>