<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/configHeader"></div>
<body>

    <div id="categoryMenu">
        <i class="fas fa-bars" style="font-size: 30px; color: black;"></i>
    </div>

    <div>
        <div class="categories">
            <!--  LEVEL 1  -->
            <div class="level1">
                <div th:each="category, idx : ${rootCategory.subCategories}" th:class="'level1_' + ${idx.index}">
                    <i class="fal fa-tshirt"></i>
                    <span th:text="${category.categoryName}"></span>
                </div>
            </div>

            <!--  LEVEL 2  -->
            <div class="level2">
                <!-- 패션  -->
                <div th:each="category, idx : ${rootCategory.subCategories.get(0).subCategories}" th:class="'category level2_0 level2_0_' + ${idx.index}">
                    <span th:text="${category.categoryName}"></span>
                </div>
                <!-- 가전/디지털  -->
                <div th:each="category, idx: ${rootCategory.subCategories.get(1).subCategories}" th:class="'category level2_1 level2_1_' + ${idx.index}">
                    <span th:text="${category.categoryName}"></span>
                </div>
                <!-- 도서  -->
                <div th:each="category, idx: ${rootCategory.subCategories.get(2).subCategories}" th:class="'category level2_2 level2_2_' + ${idx.index}">
                    <span th:text="${category.categoryName}"></span>
                </div>
                <!-- 식품  -->
                <div th:each="category, idx: ${rootCategory.subCategories.get(3).subCategories}" th:class="'category level2_3 level2_3_' + ${idx.index}">
                    <span th:text="${category.categoryName}"></span>
                </div>
            </div>

            <!--  LEVEL 3  -->
            <div class="level3">
                <!--  패션 차하위  -->
                <div class="">
                    <div th:each="category, idx: ${rootCategory.subCategories.get(0).subCategories.get(0).subCategories}" th:class="'category level3_0_0 level3_0_0_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(0).subCategories.get(1).subCategories}" th:class="'category level3_0_1 level3_0_1_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(0).subCategories.get(2).subCategories}" th:class="'category level3_0_2 level3_0_2_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(0).subCategories.get(3).subCategories}" th:class="'category level3_0_3 level3_0_3_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(0).subCategories.get(4).subCategories}" th:class="'category level3_0_4 level3_0_4_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                </div>

                <!-- 가전 차하위 -->
                <div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(1).subCategories.get(0).subCategories}" th:class="'category level3_1_0 level3_1_0_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(1).subCategories.get(1).subCategories}" th:class="'category level3_1_1 level3_1_1_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(1).subCategories.get(2).subCategories}" th:class="'category level3_1_2 level3_1_2_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(1).subCategories.get(3).subCategories}" th:class="'category level3_1_3 level3_1_3_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                </div>

                <!-- 책 차하위 -->
                <div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(2).subCategories.get(0).subCategories}" th:class="'category level3_2_0 level3_2_0_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(2).subCategories.get(1).subCategories}" th:class="'category level3_2_1 level3_2_1_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(2).subCategories.get(2).subCategories}" th:class="'category level3_2_2 level3_2_2_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(2).subCategories.get(3).subCategories}" th:class="'category level3_2_3 level3_2_3_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                </div>

                <!-- 음식 차하위 -->
                <div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(3).subCategories.get(0).subCategories}" th:class="'category level3_3_0 level3_3_0_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(3).subCategories.get(1).subCategories}" th:class="'category level3_3_1 level3_3_3_1_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(3).subCategories.get(2).subCategories}" th:class="'category level3_3_2 level3_3_3_2_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(3).subCategories.get(3).subCategories}" th:class="'category level3_3_3 level3_3_3_3_' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                    <div th:each="category, idx: ${rootCategory.subCategories.get(3).subCategories.get(4).subCategories}" th:class="'category level3_3_4 level3_3_3_4' + ${idx.index}">
                        <span th:text="${category.categoryName}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<style>
    #categoryMenu {
        display: inline-block;
    }

    .categories {
        display: flex;
    }

    .categories {
        display: none;
    }

    .category {
        display: none;
    }

</style>

<script>
    $(function() {
      $("#categoryMenu").mouseover(function() {
        $(".categories").css("display", "flex");
        $(".categories").css("flex-direction", "row");
        $(".level1").css("display", "inline-block");
      });

      // 카테고리 안보이게
      $(".categories, .level1Categories").mouseleave(function() {
        $(".categories, .category").css("display", "none");
      });


      // level 1
      $(".level1_0").mouseover(function() {
        $(".level2, .level2_0").css("display", "flex");
        $(".level2, .level2_0").css("flex-direction", "column");
      });
      $(".level1_0").mouseleave(function() {
        $(".level2_0").css("display", "none");
      });

      $(".level1_1").mouseover(function() {
        $(".level2, .level2_1").css("display", "flex");
        $(".level2, .level2_1").css("flex-direction", "column");
      });
      $(".level1_1").mouseleave(function() {
        $(".level2_1").css("display", "none");
      });

      $(".level1_2").mouseover(function() {
        $(".level2, .level2_2").css("display", "flex");
        $(".level2, .level2_2").css("flex-direction", "column");
      });
      $(".level1_2").mouseleave(function() {
        $(".level2_2").css("display", "none");
      });

      $(".level1_3").mouseover(function() {
        $(".level2, .level2_3").css("display", "flex");
        $(".level2, .level2_3").css("flex-direction", "column");
      });
      $(".level1_3").mouseleave(function() {
        $(".level2_3").css("display", "none");
      });


      // level 2
      // 패션 ==
      // 여성
      $(".level2_0_0").mouseover(function() {
        $(".level2, .level2_0, .level3, .level3_0_0").css("display", "flex");
        $(".level2, .level2_0, .level3, .level3_0_0").css("flex-direction", "column");
      });
      $(".level2_0_0").mouseleave(function() {
        $(".level3, .level2_0, .level3_0_0").css("display", "none");
      });

      // 남성
      $(".level2_0_1").mouseover(function() {
        $(".level2, .level2_0, .level3, .level3_0_1").css("display", "flex");
        $(".level2, .level2_0, .level3, .level3_0_1").css("flex-direction", "column");
      });
      $(".level2_0_1").mouseleave(function() {
        $(".level3, .level2_0, .level3_0_1").css("display", "none");
      });

      // 아동
      $(".level2_0_2").mouseover(function() {
        $(".level2, .level2_0, .level3, .level3_0_2").css("display", "flex");
        $(".level2, .level2_0, .level3, .level3_0_2").css("flex-direction", "column");
      });
      $(".level2_0_2").mouseleave(function() {
        $(".level3, .level2_0, .level3_0_2").css("display", "none");
      });

      // 스포츠
      $(".level2_0_3").mouseover(function() {
        $(".level2, .level2_0, .level3, .level3_0_3").css("display", "flex");
        $(".level2, .level2_0, .level3, .level3_0_3").css("flex-direction", "column");
      });
      $(".level2_0_3").mouseleave(function() {
        $(".level3, .level2_0, .level3_0_3").css("display", "none");
      });

      // 잡화
      $(".level2_0_4").mouseover(function() {
        $(".level2, .level2_0, .level3, .level3_0_4").css("display", "flex");
        $(".level2, .level2_0, .level3, .level3_0_4").css("flex-direction", "column");
      });
      $(".level2_0_4").mouseleave(function() {
        $(".level3, .level2_0, .level3_0_4").css("display", "none");
      });

      // 가전/디지털 ==
      // 컴퓨터
      $(".level2_1_0").mouseover(function() {
        $(".level2, .level2_1, .level3, .level3_1_0").css("display", "flex");
        $(".level2, .level2_1, .level3, .level3_1_0").css("flex-direction", "column");
      });
      $(".level2_1_0").mouseleave(function() {
        $(".level3, .level2_1, .level3_1_0").css("display", "none");
      });

      // 냉장고
      $(".level2_1_1").mouseover(function() {
        $(".level2, .level2_1, .level3, .level3_1_1").css("display", "flex");
        $(".level2, .level2_1, .level3, .level3_1_1").css("flex-direction", "column");
      });
      $(".level2_1_1").mouseleave(function() {
        $(".level3, .level2_1, .level3_1_1").css("display", "none");
      });

      // 청소기
      $(".level2_1_2").mouseover(function() {
        $(".level2, .level2_1, .level3, .level3_1_2").css("display", "flex");
        $(".level2, .level2_1, .level3, .level3_1_2").css("flex-direction", "column");
      });
      $(".level2_1_2").mouseleave(function() {
        $(".level3, .level2_1, .level3_1_2").css("display", "none");
      });

      // 세탁기/건조기
      $(".level2_1_3").mouseover(function() {
        $(".level2, .level2_1, .level3, .level3_1_3").css("display", "flex");
        $(".level2, .level2_1, .level3, .level3_1_3").css("flex-direction", "column");
      });
      $(".level2_1_3").mouseleave(function() {
        $(".level3, .level2_1, .level3_1_3").css("display", "none");
      });

      // 도서 ==
      // 여행
      $(".level2_2_0").mouseover(function() {
        $(".level2, .level2_2, .level3, .level3_2_0").css("display", "flex");
        $(".level2, .level2_2, .level3, .level3_2_0").css("flex-direction", "column");
      });
      $(".level2_2_0").mouseleave(function() {
        $(".level3, .level2_2, .level3_2_0").css("display", "none");
      });

      // 역사
      $(".level2_2_1").mouseover(function() {
        $(".level2, .level2_2, .level3, .level3_2_1").css("display", "flex");
        $(".level2, .level2_2, .level3, .level3_2_1").css("flex-direction", "column");
      });
      $(".level2_2_1").mouseleave(function() {
        $(".level3, .level2_2, .level3_2_1").css("display", "none");
      });

      // 예술
      $(".level2_2_2").mouseover(function() {
        $(".level2, .level2_2, .level3, .level3_2_2").css("display", "flex");
        $(".level2, .level2_2, .level3, .level3_2_2").css("flex-direction", "column");
      });
      $(".level2_2_2").mouseleave(function() {
        $(".level3, .level2_2, .level3_2_2").css("display", "none");
      });

      // 공학/과학
      $(".level2_2_3").mouseover(function() {
        $(".level2, .level2_2, .level3, .level3_2_3").css("display", "flex");
        $(".level2, .level2_2, .level3, .level3_2_3").css("flex-direction", "column");
      });
      $(".level2_2_3").mouseleave(function() {
        $(".level3, .level2_2, .level3_2_3").css("display", "none");
      });

      // 식품 ==
      // 과일
      $(".level2_3_0").mouseover(function() {
        $(".level2, .level2_3, .level3, .level3_3_0").css("display", "flex");
        $(".level2, .level2_3, .level3, .level3_3_0").css("flex-direction", "column");
      });
      $(".level2_3_0").mouseleave(function() {
        $(".level3, .level2_3, .level3_3_0").css("display", "none");
      });

      // 채소
      $(".level2_3_1").mouseover(function() {
        $(".level2, .level2_3, .level3, .level3_3_1").css("display", "flex");
        $(".level2, .level2_3, .level3, .level3_3_1").css("flex-direction", "column");
      });
      $(".level2_3_1").mouseleave(function() {
        $(".level3, .level2_3, .level3_3_1").css("display", "none");
      });

      // 생수/음료
      $(".level2_3_2").mouseover(function() {
        $(".level2, .level2_3, .level3, .level3_3_2").css("display", "flex");
        $(".level2, .level2_3, .level3, .level3_3_2").css("flex-direction", "column");
      });
      $(".level2_3_2").mouseleave(function() {
        $(".level3, .level2_3, .level3_3_2").css("display", "none");
      });

      // 수산물
      $(".level2_3_3").mouseover(function() {
        $(".level2, .level2_3, .level3, .level3_3_3").css("display", "flex");
        $(".level2, .level2_3, .level3, .level3_3_3").css("flex-direction", "column");
      });
      $(".level2_3_3").mouseleave(function() {
        $(".level3, .level2_3, .level3_3_3").css("display", "none");
      });

      // 축산물
      $(".level2_3_4").mouseover(function() {
        $(".level2, .level2_3, .level3, .level3_3_4").css("display", "flex");
        $(".level2, .level2_3, .level3, .level3_3_4").css("flex-direction", "column");
      });
      $(".level2_3_4").mouseleave(function() {
        $(".level3, .level2_3, .level3_3_4").css("display", "none");
      });
    });
</script>