<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/configHeader"></div>
<body>
    <div th:replace="fragments/head"></div>

    <div class="container">
        <div class="jumbotron">
            <p class="lead">상품 기능</p>
            <p>
                <a class="btn btn-lg btn-dark" href="/items/new">상품 등록</a>
                <a class="btn btn-lg btn-dark" href="/items">상품 목록</a>
            </p>
            <p class="lead">주문 기능</p>
            <p>
                <a class="btn btn-lg btn-info" href="/order">상품 주문</a>
                <a class="btn btn-lg btn-info" href="/orders">주문 내역</a>
            </p>
        </div>
    </div>
</body>
</html>
